body {
    text-align: center;
    font-family: 'Bree Serif', serif;
}

p {
    font-size: 25px;
    margin: 0 0 0 0;
}

#localip {

    font-size: 40px;
    margin-bottom: 20px;

}

#publicip {

    font-size: 40px;
    margin-bottom: 20px;

}

#btnpublic {
    background-color: #D3D3D3;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    left: 50%;

}

#btnlocal {
    background-color: #D3D3D3;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    left: 50%;
    margin-bottom:20px;

}
